<?xml version="1.0" encoding="utf-8"?>
<PlyCastInstance MailAlert="0" UseMySql="0" PlayChannel="1" AutoSave="5" ListMode="1" DisableLogo="0" DisableCG="0" ShowControl="1" ChapterSupport="1">
	<!--
	The Name of the Current PlyCast Instance
	-->
	<InstanceName>Primary BroadCast</InstanceName>
	<EmergencyPlaylist></EmergencyPlaylist>
	<!--
	SMTP-Server Options. The password must be base64 encoded: https://www.base64encode.org/
	-->
	<mailto></mailto>
	<frommail></frommail>
	<smtp_server></smtp_server>
	<smtp_username></smtp_username>
	<smtp_password></smtp_password>
	<smtp_port></smtp_port>
	<smtp_ssl></smtp_ssl>

	<!--
	Custom E-Mail Messages (HTML) on Master-Events.
	-->
	<msg_videoerver><![CDATA[<h4>Video Server is not connected!</h4>]]></msg_videoerver>
	<msg_stop><![CDATA[<h4>PlyCast Server was stopped!</h4>]]></msg_stop>
	<msg_shutdown><![CDATA[<h4>PlyCast Server was Shutdown!</h4>]]></msg_shutdown>
	<msg_emergencyloaded><![CDATA[<h4>Emergency Playlist was loaded!</h4>]]></msg_emergencyloaded>

	<!--
	MySQL-Server Options. The password must be base64 encoded: https://www.base64encode.org/
	-->
	<mysql_server></mysql_server>
	<mysql_database></mysql_database>
	<mysql_tablename></mysql_tablename>
	<mysql_port></mysql_port>
	<mysql_username></mysql_username>
	<mysql_password></mysql_password>
	<mysql_sslmode></mysql_sslmode>
</PlyCastInstance>